* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

.navbar {
  height: 65px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}

.nav-left {
  justify-self: start;
}

.nav-center {
  justify-self: center;
  display: flex;
  gap: 2rem;
}

.nav-center a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.logo {
  height: 46px;
  width: auto;
  margin-top: -7px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;       /* makes it full viewport height */
  overflow: hidden;
}

/* Make image fill the header */
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* cover without distortion */
  object-position: center; /* keeps image centered */
  display: block;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  z-index: 2;            /* above background */
  width: 300px;          /* adjust size */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.03);
  filter: drop-shadow(0 6px 20px rgba(0,0,0,0.27));

}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 160%);
  color: white;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 5.0rem;
  letter-spacing: 1px;
  
}
.hero p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1285%) scale(1.05);
  color: white;
  text-align: center;
  filter: drop-shadow(0 6px 20px rgba(0,0,0,0.5));
}


.page-header {
  padding: 4rem 1rem;
  background: #f5f5f5;
}

section {
  transform: translate(0%, 12%);
  padding: 3rem 1rem;
}

.description {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
  margin-top: -80px;
}

.feature-card img {
  width: 100%;
  max-width: 450px;
  margin: 0 auto 20px;
  display: block;
  margin-bottom: 28px;
  border: 4px solid #148657;
  /*border-radius: 12px;*/
}

.feature-card:nth-child(2) img {
  border-color: #da6d20;
}

.feature-card h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.feature-card p {
  font-size: 1rem;
  color: #555;
}
.cta {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.footer {
  padding: 2rem 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
}
